<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ProdutosAuditadosEntities" connectionString="metadata=res://*/Database.ProdutosAuditadosModel.csdl|res://*/Database.ProdutosAuditadosModel.ssdl|res://*/Database.ProdutosAuditadosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.21;initial catalog=PRODUTOS_AUDITADOS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RegistrosEANEntities" connectionString="metadata=res://*/Database.RegistrosEanModel.csdl|res://*/Database.RegistrosEanModel.ssdl|res://*/Database.RegistrosEanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.21;initial catalog=RegistrosEAN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MVAEntities" connectionString="metadata=res://*/Database.EmpresaModel.csdl|res://*/Database.EmpresaModel.ssdl|res://*/Database.EmpresaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.21;initial catalog=MVA;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MvaAcesso" connectionString="metadata=res://*/Database.AcessoModel.csdl|res://*/Database.AcessoModel.ssdl|res://*/Database.AcessoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVDESENV;initial catalog=MVA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
