<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro Ocorrido</title>
</head>
<body>
    <hgroup>
        <h1>Erro Ocorrido.</h1>
        <h2>Um erro ocorreu quando o servidor estava processdando a sua solicitação.</h2>
    </hgroup>

        <p>
            Tente autenticar novamente no sistema.
        </p>
</body>
</html>
